#paymentMethodsDonor {
  grid-column: 1 / -1;
  #addPaymentMethodDonor {
    margin-top: 0;
  }

  #paymentMethodsDonorList {
    display:flex;
    flex-direction:column;
    gap:2rem;
    .paymentMethodDonor {
      display: flex;
      align-items: center;
      gap: 1rem;
      border-bottom: 1px solid var(--colorOnBorders);
      padding-bottom: 2rem;
      border-top: 1px solid var(--colorOnBorders);
      padding-top: 1rem;

      .currencyView {
        width: 75px;
      }

      .amount {
        min-width: 150px;
      }

      .deletePaymentMethod {
        margin-top: auto;
        margin-bottom: 0;
        margin-left: auto;
        padding: 0.57rem 0.7rem;
      }
    }
  }
}