RewriteEngine on

# strip /@handle/ prefix first
RewriteRule ^/?@[^/]+/(.*)$ /$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]

SetEnv APPLICATION_ENVIRONMENT development